.footer {
    padding: 20px 0;
    color: #fff;
    position: relative;
    /* Needed for positioning the button */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* Distributes space between items */
    align-items: center;
    /* Vertically centers items */
    flex-wrap: wrap;
    /* Allows items to wrap if needed */
}

.logo-container {
    /* Set width and height to match the image */
    width: 250px;
    height: 86px;
    display: flex;
    align-items: center;
    /* Centers the logo vertically if needed */
    justify-content: center;
    /* Centers the logo horizontally */
    /* Optional: To ensure the container does not exceed the image size */
    overflow: hidden;
    margin-left: 355px;
    margin-right: 355px;
}

.logo {
    width: 100%;
    height: auto;
    /* Optional: To ensure the logo scales correctly */
}

.teammates {
    flex: 1 1 50%;
    /* Takes up approximately 50% of the width */
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* Ensures the button container is positioned correctly */
}

.button-18 {
    align-items: center;
    background-color: red;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}