.search-modal {
    .modal-content {
      position: relative;
      width: 600px; /* Điều chỉnh kích thước theo yêu cầu */
      padding: 30px;
      background-color: #ffffff; /* Màu nền modal */
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      .search-input-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
  
        .search-input {
            & .MuiOutlinedInput-root {
              fieldset {
                border-color: #816f6f; // Màu viền của TextField
              }
          
              &:hover fieldset {
                border-color: #000000; // Màu viền khi hover
              }
          
              &.Mui-focused fieldset {
                border-color: #000000; // Màu viền khi được focus
              }
            }
          
            & .MuiInputBase-input {
              font-weight: 600;
              color: #000000; // Màu chữ bên trong ô nhập liệu
              background-color: #e8f5e9; // Màu nền của ô nhập liệu
            }
          
            & .MuiInputBase-input::placeholder {
              color: #000000; // Màu chữ placeholder
              font-style: italic; // Kiểu chữ placeholder
              font-weight: 600;
            }
          }
  
        .search-icon {
          font-weight: 800;
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          color: #20091b; /* Màu xanh lá cây chủ đạo cho biểu tượng tìm kiếm */
          font-size: 40px;
        }
      }
  
      .search-button {
        padding: 15px 30px;
        border: none;
        background-color: #1f1717; /* Màu xanh lá cây chủ đạo cho nút */
        color: #ffffff; /* Màu chữ trắng cho nút */
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s, box-shadow 0.3s;
  
        &:hover {
          background-color: #000000; /* Màu xanh lá cây sáng hơn khi hover */
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
        }
  
        &:active {
          background-color: #232b1a; /* Màu xanh lá cây tối hơn khi nhấn */
        }
      }
    }
  }